.tab-pane{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.Alumini-img{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 50%
}
.Alumini-text{
    margin-top: 2.2vh;
}   
.team-img{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 50%;
}
.heading{
    color: #3cb6d4;
    font-weight: bold;
}