<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
          href="#list-home" role="tab" aria-controls="home">History</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
          role="tab" aria-controls="profile">Vision & Mission</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
          href="#list-messages" role="tab" aria-controls="messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-settings" role="tab" aria-controls="settings">Team</a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active text-justify" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <h2 class="heading">History</h2>
          <p>
            Haldia Institute Of Technology-the sanctum sanctorum of brilliant ideas and far sighted dreams have yielded
            a number of students over the year, who have managed to leave an undelible mark ,not only in the college
            campus
            but also in the society. NEEDS- an organization based in Haldia, West Bengal is one such embodiment of
            humanitarian
            beliefs latent within a very special student of the academic year 2009, of this very institution. A regular
            visitor
            of the nearby tea stalls, so called ‘theks’, once he noticed young boys working to earn their livelihood in
            the dingy
            atmosphere. This forced him to ponder over the heinous situation of child labour prompting him to work
            towards the
            welfare of these little children. It started small scale with the distribution of chocolates, books,
            stationary,
            warm clothes , and mainly basic sustaining articles that lighted up their small world. With the lapse of
            time,
            other students of this institution felt inspired to carry out such philanthropic activities which gave birth
            to
            the organization of NEEDS. The organization was finally officially inaugurated in the year 2013 on 14th
            November
            mirroring the occasion of Children’s Day.
          </p>
        </div>
        <div class="tab-pane fade text-justify" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <h2 class="heading">Vision & Mission</h2>
          <p>
            The mission of this organization is to help promote sustainability and self sufficiency.
            The ultimate ambition of this organisation is to spread a smile and to lend a hand for
            the betterment of the children of this society. The basic aim of NEEDS is to bring about
            a positive change in the society through self sufficiency and the promotion of literacy.
            Its aim is to help promote the abolishment of child labour, and other heinous practices
            and evil social calamities that act as a hindrance to the healthy upbringing of children
            irrespective of their backgrounds.
          </p>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <h2 class="heading" style="text-align: center">Messages</h2>
          <div class="container darker">
            <div class="row">
              <div class="col-sm-2">
                <img class="Alumini-img" src="assets/img/rashmi.png" alt="Avatar">
              </div>
              <div class="col-sm-10 ">
                <p class="mt-4 text-justify"> What started as a thought is continuing its work through the endeavours of HITians.
                  I hope wherever we go, we keep spreading smiles by helping others.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <p class="mt-4 text-justify"> "Needs- spreading smile" the title itself explains the motive of this initiative-
                  spreading the smile .
                  It gives the immense pleasure to see that the small initiative started a few years ago,still continues
                  its motive of helping the people.
                  I hope that NEEDS will continue its motive of serving the needy.All the best to the Team NEEDS.</p>
              </div>
              <div class="col-sm-2">
                <img class="Alumini-img" src="assets/img/priya.jpg" alt="Avatar">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <img class="Alumini-img" src="assets/img/sub.jpg" alt="Avatar">
            </div>
            <div class="col-sm-10 ">
              <p class="mt-4 text-justify"> We started NEEDS for a cause and I am proud that it is running strong after 5 years. 
                I hope we, the NEEDs family continue making an impressive difference in the lives of others.</p>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-10">
                <p class="mt-4 text-justify"> The day I remember (in 2014) when 8 friends decided to utilize Rs 800 in good cause and we searched for a NGO. Starting from that day till now, NEEDS is spreading smiles only because of YOU-HITIAN always came forward & raise your hand.
                    NEEDS! You will definitely go a long way.</p>
              </div>
              <div class="col-sm-2">
                <img class="Alumini-img" src="assets/img/sara.jpg" alt="Avatar">
              </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                  <img class="Alumini-img" src="assets/img/reetu.jpg" alt="Avatar">
                </div>
                <div class="col-sm-10 ">
                  <p class="mt-4 text-justify"> The journey of NEEDS started from a spark to be the change we wanted to see in this world and I am proud to see how far we have come. There is still a long path to be taken and more efforts to be induced so that NEEDS can continue working towards providing a helping hand to the ones in need.</p>
                </div>
              </div>
        </div>

        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            <h2 class="heading">Team</h2>
          <div class="row">
            <div class="col">
              <img class="team-img" src="assets/img/rashmi.png" alt="Avatar">
            </div>
            <div class="col">
              <img class="team-img" src="assets/img/priya.jpg" alt="Avatar">
            </div>
            <div class="col">
              <img class="team-img" src="assets/img/sub.jpg" alt="Avatar">
            </div>
            <div class="col">
              <img class="team-img" src="assets/img/reetu.jpg" alt="Avatar">
            </div>
            <div class="col">
              <img class="team-img" src="assets/img/sara.jpg" alt="Avatar">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>